* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 20px;
}

nav {
  padding: 0;
  margin: 0;
}

form input,
form button {
  height: 30px !important;
}

.font-12-px {
  font-size: 12px;
}

.font-12 {
  font-size: 1vw;
}

.font-15 {
  font-size: 2.5vw;
}

.navbar-brand {
  color: #a3a3a3 !important;
}

.nav-link {
  color: #ecaf3d !important;
  font-size: 12px;
}

i {
  color: #ecaf3d !important;
}

.h-100 {
  height: 100vh !important;
}

.hero h1 {
  /* Text styles */
  font-size: 2em;
  letter-spacing: 2px;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero-inner p {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
}

.hero {
  /* Sizing */
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/illusration.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero {
  background-image: url("/images/illusration.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/*SPEAKERS SECTION */

.team-section h3,
.team-section p {
  color: #3b3b3b;
  font-size: 10x;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 2px;
}

.btn-see-all {
  display: block;
  width: 100px;
  height: 25px;
  /* Padding and margins */
  padding-bottom: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* Text styles */
  color: #ecaf3d;
  text-decoration: none;
  font-size: 10px;
  /* Border styles */
  border: 3px solid white;
  border-radius: 20px;
  /* Background styles */
  background-color: rgba(30, 30, 30, 0.877);
}

.speaker-image {
  width: 25%;
  height: 25%;
}

.topics-section {
  margin-bottom: 50px;
  border-top: 1px solid #232323;
}

.topics-section .container-topic {
  background-color: #1d1c1c;
  font-size: 12px;
  text-transform: uppercase;
  width: 250px;
  height: 25px;
}

.popular-episodes-section {
  margin-bottom: 50px;
}

.popular-episodes-section .list-episodes {
  font-size: 15px;
}

.popular-episodes-section .list-episodes a {
  text-decoration: none;
  color: #1d1c1c;
}

#sticky-footer {
  background-color: #161616 !important;
}

.font-color-orange {
  color: #ecaf3d !important;
}

.font-color-black {
  color: #161616 !important;
}

.table .row .col {
  color: rgb(59, 59, 59) !important; 
}

.bold {
  font-weight: bold;
}

.text-decoration-none {
  text-decoration: none;
}

.pagination {
  display: inline-flex;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination li a {
  color: #161616;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ecaf3d; 
  border-color: #ecaf3d; 
}

a {
  text-decoration: none !important;
}

.search-dropdown li {
  list-style-type: none;
}

.search-dropdown li a {
  list-style-type: none;
  color: #ecaf3d;
  width: 200px;
}

.search-dropdown li:hover {
  color: #161616;
  background-color: #636363;
}

a p:hover {
  color: #ecaf3d !important;
}

#hover-orange:hover {
  color: #ecaf3d !important;
}

#hover-orange-bg:hover {
  background-color: #ecaf3d !important;
  color: #1d1c1c;
}
.content {
  min-height: calc(100vh - 5rem);
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 5rem !important;
  left: 0;
  /* position: relative !important; */
  /* margin-top: auto;
  padding-bottom: auto; */
}

.correct-answer {
  color: green !important;
}

.wrong-answer {
  color: red !important;
}

.list-sytle-none {
  list-style-type: none !important;
}
